<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Strona główna</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar navbar-expand-lg" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Użytkownik
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Preferencje żywieniowe</a></li>
                        <li><a class="dropdown-item" href="#">Edycja preferencji żywieniowych</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="product" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Produkt
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Lista produktów</a></li>
                        <li><a class="dropdown-item" href="#">Dodaj produkt</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="recipe" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Przepisy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="@{/recipes}">Wyświetl przepisy</a></li>
                        <li><a class="dropdown-item" href="@{/recipes/search}">Wyszukaj przepis</a></li>
                        <li><a class="dropdown-item" href="@{/recipes/new}">Dodaj przepis</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fridge" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Lodówka
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Wyświetl zawartości lodówki</a></li>
                        <li><a class="dropdown-item" href="#">Dodaj produktu do lodówki</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="shopping_list" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Lista zakupów
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Wyświetl listę zakupów</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</body>
</html>