<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-9 col-md-9 col-sm-9 container justify-content-center card">
            <div>
                </br>
                <p style="text-align:center;"><img
                        src="https://i.ibb.co/zHRgKpv/Screenshot-from-2022-11-22-09-32-13.png"></p>
            </div>
            <div class = "card-body">
                <form th:action="@{/fridge/product}" th:object = "${fridgeDtoForm}" method="POST">
<!--                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
<!--                        <ul>-->
<!--                            <li th:text="${'Niepoprawna treść.'}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <table>
                        <td>
                            <button type="submit" name="addProduct" class = "btn btn-outline-primary btn-sm">Dodaj</button>
                        </td>
                        <tr>
                            <th >Lp.</th>
                            <th >Ilość</th>
                            <th >Produkt</th>
                        </tr>
                        <tr th:each="product ,iterStat : *{productsInFridge}" th:class="${iterStat.odd}? 'grey-row'">
                            <td th:text="${iterStat.count}"></td>
                            <td>
                                <input type="text" th:field="*{productsInFridge[__${iterStat.index}__].amount}" required />
                            </td>
                            <td>
                                <input type="text" th:field="*{productsInFridge[__${iterStat.index}__].productName}" required />
                            </td>
                            <td>
                                <select name="unit" th:field="*{productsInFridge[__${iterStat.index}__].unit}"  />
                                <option th:each="unit : ${T(com.infoshareacademy.entity.product.ProductUnit).values()}"
                                        th:value="${unit}" th:text="${unit.value}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="date" th:field="*{productsInFridge[__${iterStat.index}__].expirationDate}" />
                            </td>
                            <td>
                                <button type="submit" name="removeProduct" th:value="${iterStat.index}" class = "btn btn-outline-primary btn-sm">Usun</button>
                            </td>
                        </tr>
                    </table>

                    <div class = "box-footer">
                        </br>
                        <button type="submit" name="addFridge" class = "btn btn-outline-primary btn-sm">
                            Dodaj
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>