<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <h1 class = "text-center"> Stwórz nowy przepis </h1>
            <div class = "card-body">
                <form th:action="@{/recipes/recipe}" th:object = "${recipe}" method="POST">
<!--                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
<!--                        <ul>-->
<!--                            <li th:text="${'Niepoprawna treść przepisu.'}"></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class ="form-group">
                        <label> Tytuł </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Podaj tytuł przepisu."
                        />
                    </div>

                    <div class ="form-group">
                        <label> Opis </label>
                        <input
                                type = "text"
                                name = "description"
                                th:field = "*{description}"
                                class = "form-control"
                                placeholder="Podaj opis przepisu."
                        />
                    </div>

                    <div class ="form-group">
                        <label> Czas przygotowania </label>
                        <input
                                type = "text"
                                name = "preparation_time"
                                th:field = "*{preparationTime}"
                                class = "form-control"
                                placeholder="Podaj czas przygotowania."
                        />
                    </div>

                    <label> Rodzaj posiłku</label>
                    <br>
                    <select name="meal">
                        <option th:each="meal : ${T(com.infoshareacademy.entity.recipe.Meal).values()}"
                                th:value="${meal}" th:text="${meal.value}"></option>
                    </select>
                    <br>

                    <label> Niezbędne produkty </label>
                    <table>
                        <td>
                            <button type="submit" name="addProduct" class = "btn btn-outline-primary btn-sm">Dodaj</button>
                        </td>
                        <tr>
                            <th >Lp.</th>
                            <th >Produkt</th>
                            <th >Ilość</th>
                            <th >Jednostka miary</th>
                        </tr>
                        <tr th:each="product,iterStat : *{productList}" th:class="${iterStat.odd}? 'grey-row'">
                            <td th:text="${iterStat.count}"></td>

                            <td>
                                <input type="text" th:field="*{productList[__${iterStat.index}__].productName}"  />
                            </td>
                            <td>
                                <input type="text" th:field="*{productList[__${iterStat.index}__].amount}"  />
                            </td>
                            <td>
                                <select name="unit" th:field="*{productList[__${iterStat.index}__].unit}"  />
                                <option th:each="unit : ${T(com.infoshareacademy.entity.product.ProductUnit).values()}"
                                        th:value="${unit}" th:text="${unit.value}"></option>
                            </select>
                            </td>
                            <td>
                                <button type="submit" name="removeProduct" th:value="${iterStat.index}" class = "btn btn-outline-primary btn-sm">Usun</button>
                            </td>
                        </tr>
                    </table>

                    Lista Twoich alergenów:
                    <p>Czekolada<input type="checkbox" th:field="${recipe.recipeAllergens.chocolate}"/></p>
                    <p>Produkty mleczne<input type="checkbox" th:field="${recipe.recipeAllergens.dairy}"/></p>
                    <p>Jaja<input type="checkbox" th:field="${recipe.recipeAllergens.eggs}"/></p>
                    <p>Orzechy<input type="checkbox" th:field="${recipe.recipeAllergens.nuts}"/></p>
                    <p>Skorupiaki<input type="checkbox" th:field="${recipe.recipeAllergens.shellfish}"/></p>
                    <p>Truskawki<input type="checkbox" th:field="${recipe.recipeAllergens.strawberries}"/></p>
                    <p>Czy jesz mięso?<input type="checkbox" th:field="${recipe.recipeAllergens.meatEater}"/></p>
                    <p>Dieta wegańska?<input type="checkbox" th:field="${recipe.recipeAllergens.vegan}"/></p>
                    <p>Dieta wegetariańska?<input type="checkbox" th:field="${recipe.recipeAllergens.vegetarian}"/></p>
                    <p>Inne alergeny: <input type="text" th:field="${recipe.recipeAllergens.other}"/></p>

                    <div class = "box-footer">
                        </br>
                        <button type="submit" name="addRecipe" class = "btn btn-primary">
                            Dodaj
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>