<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoping list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>

<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/Vjc9BtY/Screenshot-from-2022-11-16-11-14-23.png"/>
    </div>

    <div class="col-lg-2">
        <a th:href="@{/shopping-lists/shopping-list}" class="btn btn-success mb-2"> Stwórz listę</a>
    </div>
    <form th:action="@{/shopping-lists/shopping-list}" th:object = "${shoppinglist}" method="POST">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <ul>
                <li th:text="${'Niepoprawna treść.'}"></li>
            </ul>
        </div>
        <div class ="form-group">
            <label> Nazwa </label>
            <input
                    type = "text"
                    name = "name"
                    th:field = "*{name}"
                    class = "form-control"
                    placeholder="Podaj nazwę listy."
            />
        </div>
        <div class = "box-footer">
            </br>
            <button id="createdList" type="submit" class = "btn btn-primary">
                Dodaj
            </button>
        </div>
    </form>

</div>
<script>
    $("#createdList").click(function() {
        alert("Utworzono listę zakupów!");
    });
</script>
</body>
</html>



