<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/foodpreferences}">Preferencje żywieniowe</a>
    <a class="navbar-brand" th:href="@{/foodpreferences/user-foodpreferences}">Ustaw preferencje</a>
    <a class="navbar-brand" th:href="@{/recipes}">Wszystkie przepisy</a>
    <a class="navbar-brand" th:href="@{/foodpreferences/recipe/1}">Przepisy (allergeny)</a>
    <a class="navbar-brand" th:href="@{/fridge}">Zawartość lodówki</a>
    <a class="navbar-brand" th:href="@{/recipes/filtered-prodcts}">Wyszukiwarka</a>
    <a class="navbar-brand" th:href="@{/shoppinglist}">Lista zakupów</a>


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <h1 class="text-center"> Edytuj przepis </h1>
            <div class="card-body">
                <form th:action="@{/recipes/{id} (id=${recipe.recipeId})}" th:object="${recipe}" method="POST">
                    <div class="form-group">
                        <label> Tytuł </label>
                        <input type="text"
                               name="name"
                               th:field="*{name}"
                               class="form-control"
                               placeholder="Podaj tytuł przepisu."/>
                    </div>

                    <div class="form-group">
                        <label> Opis </label>
                        <input type="text"
                               name="description"
                               th:field="*{description}"
                               class="form-control"
                               placeholder="Podaj opis przepisu."/>
                    </div>

                    <div class="form-group">
                        <label> Czas przygotowania </label>
                        <input type="text"
                               name="preparation_time"
                               th:field="*{preparationTime}"
                               class="form-control"
                               placeholder="Podaj czas przygotowania."/>
                    </div>

                    <label> Rodzaj posiłku</label>
                    <br>
                    <select name="meal">
                        <option th:each="meal : ${T(com.infoshareacademy.entity.recipe.Meal).values()}"
                                th:value="${meal}" th:text="${meal}"></option>
                    </select>
                    <br>
                    <div class="pull-right">
                        <a th:href="@{/recipes/{recipeId}/products(recipeId=${recipe.recipeId})}">
                            <button type="button" name="editRecipe" class="btn btn-warning float-right">
                                Edytuj produkty
                            </button>
                        </a>
                    </div>

                    <div class="pull-left">
                        <button type="submit" name="addRecipe" class="btn btn-success float-left">
                            Zapisz
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>