<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <div>
                </br>
                <p style="text-align:center;"><img
                        src="https://i.ibb.co/0ZtW5G5/Screenshot-from-2022-11-21-13-09-26.png"></p>
            </div>
            <div class="card-body">
                <form th:action="@{/recipes/{recipeId}/products/{productId}
                        (recipeId=${recipeId},
                        productId=${productRecipe.productId})}"
                      th:object="${productRecipe}"
                      method="POST">
                    <div class="form-group">
                        <label> Nazwa produktu </label>
                        <input type="text"
                               name="productName"
                               required
                               th:field="*{productName}"
                               class="form-control"
                               placeholder="Podaj nazwe produktu."/>
                    </div>
                    <div class="form-group">
                        <label> Ilość </label>
                        <input type="number"
                               name="amount"
                               required
                               th:field="*{amount}"
                               class="form-control"
                               placeholder="Podaj ilość produktu."/>
                    </div>

                    <div class="form-group">
                        <label> Jednostka miary </label>
                        <select name="unit" th:field="*{unit}">
                            <option th:each="unit : ${T(com.infoshareacademy.entity.product.ProductUnit).values()}"
                                    th:value="${unit}" th:text="${unit.value}"></option>
                        </select>
                    </div>

                    <div class="hidden">
                        <input type="hidden"
                               name="recipe"
                               th:field="*{recipe}"/>
                    </div>

                    <div class="box-footer">
                        <button onsubmit="productInRecipeUpdated()" type="submit" name="saveRecipe"
                                class="btn btn-outline-primary btn-sm">
                            Zapisz
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script>
    function productInRecipeUpdated() {
        alert("Zaktualizowano produkt!");
    };
</script>
</body>
</html>