<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <div>
                </br>
                <p style="text-align:center;"><img
                        src="https://i.ibb.co/0ZtW5G5/Screenshot-from-2022-11-21-13-09-26.png"></p>
            </div>
            <div class="card-body">
                <form th:action="@{/recipes/{id} (id=${recipe.recipeId})}" th:object="${recipe}" method="POST">
                    <div class="form-group">
                        <label> Tytuł </label>
                        <input type="text"
                               name="name"
                               th:field="*{name}"
                               class="form-control"
                               placeholder="Podaj tytuł przepisu."/>
                    </div>

                    <div class="form-group">
                        <label> Opis </label>
                        <input type="text"
                               name="description"
                               th:field="*{description}"
                               class="form-control"
                               placeholder="Podaj opis przepisu."/>
                    </div>

                    <div class="form-group">
                        <label> Czas przygotowania </label>
                        <input type="text"
                               name="preparation_time"
                               th:field="*{preparationTime}"
                               class="form-control"
                               placeholder="Podaj czas przygotowania."/>
                    </div>

                    Rodzaj posiłku <select name="meal">
                    <option th:each="meal : ${T(com.infoshareacademy.entity.recipe.Meal).values()}"
                            th:value="${meal}" th:text="${meal.value}"></option>
                </select>
                    <br>
                    <br>
                    <div class="pull-right">
                        <a th:href="@{/recipes/{recipeId}/products(recipeId=${recipe.recipeId})}">
                            <button type="button" name="editRecipe" class="btn btn-outline-primary btn-sm float-right">
                                Edytuj produkty
                            </button>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a th:href="@{/recipes/{recipeId}/allergens (recipeId=${recipe.recipeId})}">
                            <button type="button" name="editRecipeAllergens"
                                    class="btn btn-outline-primary btn-sm float-right">
                                Edytuj alergeny
                            </button>
                        </a>
                    </div>
                    <div class="pull-left">
                        <button type="submit" name="addRecipe" class="btn btn-outline-primary btn-sm float-left">
                            Zapisz
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>