<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Food Preferences</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/QjKhN9p/Screenshot-from-2022-11-21-10-57-50.png"/>
    </div>
    <div class="row">
        <div class="col-10">
        <a th:href="@{/food-preferences/set-foodpreferences}" class="btn btn-outline-info btn-sm mb-2">Edytuj preferencje</a>
        </div>
        </div>

<tr th:each="allergen: ${getfoodpreferences}">
    Czekolada: <td th:text="${allergen.chocolate} ? '✓' : 'x'" ></td><br>
    Produkty mleczne: <td th:text="${allergen.dairy} ? '✓' : 'x'" ></td><br>
    Jaja: <td th:text="${allergen.eggs} ? '✓' : 'x'"></td><br>
    Orzechy: <td th:text="${allergen.nuts} ? '✓' : 'x'"></td><br>
    Skorupiaki: <td th:text="${allergen.shellfish} ? '✓' : 'x'"></td><br>
    Truskawki: <td th:text="${allergen.strawberries} ? '✓' : 'x'"></td><br>
    Czy jesz mięso?: <td th:text="${allergen.meatEater}  ? '✓' : 'x'"></td><br>
    Dieta wegańska? <td th:text="${allergen.vegan} ? '✓' : 'x'"></td><br>
    Dieta wegańska? <td th:text="${allergen.vegetarian}  ? '✓' : 'x'"></td><br>
    Inne alergeny: <td th:text="${allergen.other}"></td><br><br>
</tr>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>