<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Preferences</title>
</head>
<body>
<tr th:each="allergen: ${getfoodpreferences}">
    ID: <td th:text="${allergen.id}"></td> <br>
    CHOCOLATE: <td th:text="${allergen.chocolate}"></td><br>
    DAIRY: <td th:text="${allergen.dairy}"></td><br>
    EGGS: <td th:text="${allergen.eggs}"></td><br>
    NUTS: <td th:text="${allergen.nuts}"></td><br>
    SHELLFISH: <td th:text="${allergen.shellfish}"></td><br>
    STRAWBERRIES: <td th:text="${allergen.strawberries}"></td><br>
    MEAT EATER: <td th:text="${allergen.meatEater}"></td><br><br>
    VEGAN: <td th:text="${allergen.vegan}"></td><br><br>
    VEGETARIAN: <td th:text="${allergen.vegetarian}"></td><br><br>
    OTHER: <td th:text="${allergen.other}"></td><br><br>
</tr>
</body>
</html>