<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Food Preferences</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>

<div class="container">
    <div class="row">
        <h1> Preferencje żywieniowe </h1>
    </div>


    <tr >
        ID: <th scope="col" th:text="${foodpreferencesbyid.get().id}"></th> <br>
        CZEKOLADA: <td th:text="${foodpreferencesbyid.get().chocolate}"></td><br>
        PRODUKTY MLECZNE: <td th:text="${foodpreferencesbyid.get().dairy}"></td><br>
        JAJA: <td th:text="${foodpreferencesbyid.get().eggs}"></td><br>
        ORZECHY: <td th:text="${foodpreferencesbyid.get().nuts}"></td><br>
        SKORUPIAKI: <td th:text="${foodpreferencesbyid.get().shellfish}"></td><br>
        TRUSKAWKI: <td th:text="${foodpreferencesbyid.get().strawberries}"></td><br>
        MIĘSO: <td th:text="${foodpreferencesbyid.get().meatEater}"></td><br><br>
        VEGANIN: <td th:text="${foodpreferencesbyid.get().vegan}"></td><br><br>
        WEGETARIANIN: <td th:text="${foodpreferencesbyid.get().vegetarian}"></td><br><br>
        INNE ALERGENY: <td th:text="${foodpreferencesbyid.get().other}"></td><br><br>
    </tr>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>