<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fridge</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/mcSpJc2/Screenshot-from-2022-11-21-10-59-01.png"/>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/fridge/product}" class="btn btn-outline-info btn-sm mb-2"> Dodaj Produkty</a>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table">
        <tr>
            <th style="background-color: #e3f2fd;" class="align-middle"><a class="sorted" sd:pagination-sort="productName">Nazwa</a></th>
            <th style="background-color: #e3f2fd;" class="align-middle"><a class="sorted" sd:pagination-sort="amount">Ilość</a></th>
            <th style="background-color: #e3f2fd;" class="align-middle"> Jednostka miary</th>
            <th style="background-color: #e3f2fd;" class="align-middle"><a class="sorted" sd:pagination-sort="expirationDate">Data ważności</a></th>
            <th style="background-color: #e3f2fd;" class="align-middle"> Opcje</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product: ${fridgeProducts}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.unit.value}"></td>
            <td th:text="${product.expirationDate}"></td>
            <td>
                <a th:href="@{/fridge/product/{fridgeId}/{productId}(
        fridgeId=${fridgeId},productId=${product.productId})}"
                   class="btn btn-outline-info btn-sm mb-2">Edytuj</a>
                <a onclick="deleteProductFromFridge()" th:href="@{/fridge/{fridgeId}/{productId}(
        fridgeId=${fridgeId},productId=${product.productId})}"
                   type="button" class="btn btn-outline-danger btn-sm mb-2">Usuń
                    <input name="_method" type="hidden" value="DELETE"/></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="Ilość">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script>
    function deleteProductFromFridge() {
        alert("Usunięto produkt!");
    };
</script>
</body>
</html>