<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/Vjc9BtY/Screenshot-from-2022-11-16-11-14-23.png"/>
    </div>
</div>
<div class="container">
    <a th:href="@{/sign-up}" class="btn btn-primary">Zarejestruj</a>

    <a th:href="@{/login}" class="btn btn-danger">Zaloguj</a>
</div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>


