<!DOCTYPE html>
<html xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>List of Products in Fridge</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-3">
        <a th:href="@{/fridge_products/new}" class="btn btn-primary btn-sm mb-3"> Add Product</a>
    </div>
</div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Product Name</th>
            <th> Product Amount</th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product,iterStat : *{products_fridge}" th:class="${iterStat.odd}? 'grey-row'">
            <td th:text="${iterStat.count}"></td>
            <td>
                <input type="text" th:field="*{productList[__${iterStat.index}__].amount}" required />
            </td>
            <td>
                <input type="text" th:field="*{productList[__${iterStat.index}__].productName}" required />
            </td>
            <td>
                <a th:href="@{/fridge_products/edit/{id}(id=${product_fridge.productInFridgeId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/fridge_products/{id}(id=${product_fridge.productInFridgeId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>