<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fridge Recipe</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/51xzcvd/Screenshot-from-2022-11-16-11-09-09.png"/>
    </div>

    <div>
        <form th:action="@{/recipes/keyword}">
            <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Wyszukaj..."
                   required/>
            </br>
            <button type="submit" class="btn btn-primary">Szukaj</button>
            <button type="button" class="btn btn-outline-primary" onclick="clearFilter()">Wyczyść</button>
        </form>
    </div>
    <div>&nbsp;</div>

    <div class="row">
        <div class="col-10">
            <a th:href="@{/recipes/delete-all-recipes}" class="btn btn-outline-danger btn-sm mb-2">Usuń Przepisy</a>
            <a th:href="@{/recipes/recipe}" class="btn btn-outline-info btn-sm mb-2"> Dodaj nowy przepis</a>
            <a th:href="@{/recipes/fridge}" class="btn btn-outline-info btn-sm mb-2"> Filtruj po produktach w lodówce</a>
            <a th:href="@{/recipes/food-preferences}" class="btn btn-outline-info btn-sm mb-2"> Filtruj po alergenach</a>
        </div>
        <div class="col">
            <form th:action="@{/recipes}">
                <select name="meal">
                    <option
                            th:each="meal : ${T(com.infoshareacademy.entity.recipe.Meal).values()}"
                            th:text="${meal.value}"
                            th:value="${meal}"
                            th:selected="${meal == selectedMeal}">
                    </option>
                </select>
                <button type="submit" class="btn btn-outline-info btn-sm mb-2">Szukaj</button>
            </form>
            <!--        </div>-->
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table">
        <tr>
            <th style="background-color: #e3f2fd;"><a class="sorted" sd:pagination-sort="name">Tytuł</a></th>
            <th style="background-color: #e3f2fd;">Opis</th>
            <th style="background-color: #e3f2fd;"><a class="sorted" sd:pagination-sort="preparationTime"> Czas przygotowania (min)</a></th>
            <th style="background-color: #e3f2fd;"> Składniki</th>
            <th style="background-color: #e3f2fd;"> Rodzaj posiłku</th>
            <th style="background-color: #e3f2fd;"> Opcje</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="recipe: ${recipes}">
            <td th:text="${recipe.name}"></td>
            <td th:text="${recipe.description}"></td>
            <td th:text="${recipe.preparationTime}"></td>
            <td th:text="${recipe.productList}"></td>
            <td th:text="${recipe.meal.value}"></td>
            <td>
                <a th:href="@{/recipes/{recipeId}(recipeId=${recipe.recipeId})}"
                   class="btn btn-outline-info btn-sm mb-2">Edytuj przepis</a>

                <a onclick="deleteRecipeFromShoppingList()" th:href="@{/recipes/recipe/{id}(id=${recipe.recipeId})}"
                   class="btn btn-outline-danger btn-sm mb-2">Usuń przepis</a>

                <div class="dropdown mb-3">
                    <button class="btn btn-outline-info btn-sm mb-2 dropdown-toggle" data-toggle="dropdown">
                        Dodaj do listy zakupów
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="list : ${shoppingList}">
                            <a onclick="addRecipeToShoppingList()"
                               th:href="@{/recipes/{recipeId}/shopping-list/{shoppingListId}(recipeId= ${recipe.recipeId}, shoppingListId=${list.id})}"><span
                                    th:text="${list.name}" th:value="${list.name}"></span></a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="Ilość">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="3" sd:pagination="full">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script type="text/javascript">
    function clearFilter() {
        window.location = '/recipes/keyword';
    }
</script>
<script>
    function addRecipeToShoppingList() {
        alert("Dodano przepis do listy zakupów!");
    };
</script>
<script>
    function deleteRecipeFromShoppingList() {
        alert("Usunięto przepis!");
    };
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>