<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Food Preferences</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/prev :: prev}"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <img src="https://i.ibb.co/QjKhN9p/Screenshot-from-2022-11-21-10-57-50.pngg"/>
    </div>
<form action="#" th:action="@{/food-preferences}" th:object="${foodpreferences}" method="post">
    <p>Czekolada <input type="checkbox" th:field="*{chocolate}"/>
    <p>Produkty mleczne <input type="checkbox" th:field="*{dairy}"/>
    <p>Jaja <input type="checkbox" th:field="*{eggs}"/>
    <p>Orzechy <input type="checkbox" th:field="*{nuts}"/>
    <p>Skorupiaki <input type="checkbox" th:field="*{shellfish}"/>
    <p>Truskawki <input type="checkbox" th:field="*{strawberries}"/>
    <p>Czy jesz mięso? <input type="checkbox" th:field="*{meatEater}"/>
    <p>Dieta wegańska? <input type="checkbox" th:field="*{vegan}"/>
    <p>Dieta wegetariańska? <input type="checkbox" th:field="*{vegetarian}"/>
    <p>Inne alergeny: <input type="text" th:field="*{other}"/></p>
    <p><input class="btn btn-outline-info btn-sm mb-2" type="submit" value="Dodaj">

</form>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>